* {
    background-image: url(../images/interlaced.png);
    background-repeat: repeat;
}

body {
    background: #ffffff;
}

#myImage {
    float: left;
    border-width: 10px;
    border-color: red;
    padding-right: 15px;
    padding-bottom: 5px;
    background: white;
    display: block;
}

img {
    width: 200px;
    height: 200px;
}

.header {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: 30px;
    padding: 10px;
    margin: -10px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #cccccc;
    background: #ffffff;
    margin-bottom: 30px;
}


/* .header {
    position: relative;
    height: 40px;
    background: #ffffff;
} */

#name {
    position: absolute;
    top: 0;
    left: 100px;
    width: 200px;
    height: 50px;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
}

a {
    background-color: #ffffff;
}

#navBar {
    position: absolute;
    /* float: right; */
    background: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    right: 0;
    bottom: -8;
    width: 200px;
    text-align: center;
}

.wrapper {
    background: #ffffff;
    position: relative;
    max-width: 960px;
    min-height: 100%;
    width: 900px;
    padding: 58px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border: 2px solid #dddddd;
}

.footer {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: 30px;
    background: #777777;
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
    font-size: 8px;
    border-style: solid;
    border-top: 8px solid #4aaaa5;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: 60px;
    padding: 10px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

p {
    background: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
}

a {
    background: #ffffff;
    color: #777777;
}

#form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #ffffff;
    font-size: 15px;
    color: #777777;
}

input,
textarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #777777;
    background: #ffffff;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    width: 130px;
}

.imgWrapper {
    background: #ffffff;
    border: none;
    padding: 20px 10px;
    margin: 10px 20px;
    position: relative;
    height: 600px;
}

.images {
    position: absolute;
    background: #ffffff;
}

#img1,
#img2,
#img3,
#img4,
#img5 {
    margin: 5px;
    width: 150px;
    height: 150px;
    border: 1px solid #777777;
    background: #ffffff;
}

.desc {
    position: absolute;
    height: 30px;
    width: 150px;
    background: #4aaaa5;
}

#img1 {
    top: 10px;
    left: 10px;
}

#desc1 {
    bottom: 15px;
    left: 70px;
    z-index: 3;
}

#img2 {
    top: 20px;
    left: 130px;
    z-index: 4;
}

#img3 {
    bottom: 10px;
    left: 190px;
    z-index: 1;
}