* {
    background-image: url(../images/dot-grid.png);
    background-repeat: repeat;
}

#myImage {
    float: left;
    border-width: 10px;
    border-color: red;
}

img {
    width: 200px;
    height: 200px;
}

.wrapper {
    position: relative;
    max-width: 960px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-width: 100px;
    border-color: red;
    /* top riht bottom left */
    /* margin, border, padding, box */
}

.fixedHead {
    position: fixed;
    top: auto;
    left: auto;
    width: 960px;
    height: 30px;
    padding: 10px;
    margin: auto;
    text-align: inherit;
    background: #4aaaa5;
}

.footer {
    position: relative;
    /* top: ;
    left: ; */
    width: 1000px;
    height: 30px;
    background: #4aaaa5;
}

#navBar {
    float: right;
    background-color: #4aaaa5;
}

#name {
    float: left;
}


/* . for class # for id */